    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    font,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    html,
    body {
        height: 100%;
    }
    /* lists */
    
    .list-full,
    .list-full li,
    .list-auto,
    .list-auto li {
        width: 100%;
        float: left;
        display: block;
        position: relative;
    }
    
    .list-auto,
    .list-auto li {
        width: auto;
        height: 60px;
    }
    /* floats */
    
    .float-l {
        float: left;
    }
    
    .float-r {
        float: right;
    }
    /* FONTES */
    
    .font12 {
        font-size: 12px;
    }
    
    .font14 {
        font-size: 14px;
    }
    
    .font16 {
        font-size: 16px;
    }
    
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
    }
    
    header {
        min-height: 80px;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        background-color: #036358;
        z-index: 2;
    }
    
    header h1 {
        padding: 10px 0 10px 10px;
    }
    
    header h1 a {
        color: #fff;
    }
    
    header ul {
        padding: 20px 10px 0 0;
    }
    
    header li {
        border-left: 1px solid #282923;
    }
    
    header li:first-child {
        border: none;
    }
    
    header li:last-child {
        padding-right: 20px;
    }
    
    header li a {
        height: 100%;
        display: block;
        padding: 0 10px;
        color: #fff;
        font-size: 16px;
        line-height: 40px;
        text-decoration: none;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
    }
    
    header li a:hover {
        color: white;
        text-decoration: none;
    }
    
    input#control-nav {
        visibility: hidden;
        position: absolute;
        left: -9999px;
        opacity: 0;
    }
    
    .containermain {
        margin-top: 10px;
        padding: 10px 10px;
        width: 100%;
        /*border: 3px solid rgb(38, 0, 255);*/
        position: relative;
        color: black;
        z-index: 3;
        height: auto;
        /*min-height: 100%;*/
        overflow: hidden;
        border-radius: 10px;
    }

    
    .main {
        width: 80%;
        margin: 0 auto;
        /*border: 3px solid rgb(155, 27, 27);*/
        height: auto;
        /*min-height: 100%;*/
        overflow: hidden;
        position: relative;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }

    .bordasimples {
    font-size: 16px;
    line-height: 30px;
    border-collapse: collapse;
}

.bordasimples tr td {
    border: 1px solid #ccc;
    padding: 5px;
}

.bordasimples2 {
    font-size: 16px;
    line-height: 22px;
    border-collapse: collapse;
    background-color: #ccc;
}

.bordasimples2 tr th {
    font-size: 18px;
    border: 2px solid #ddd;
    padding: 3px;
    background-color: #aaa;
    color: #fff;
}

.bordasimples2 tr td {
    border: 2px solid #ddd;
    padding: 3px;
}

.bordasimples3 {
    font-size: 18px;
    line-height: 18px;
    border-collapse: collapse;
    background-color: #ddd;
}

.bordasimples3 tr th {
    font-size: 18px;
    border: 2px solid #ddd;
    padding: 3px;
    background-color: #aaa;
    color: #fff;
}

.bordasimples3 tr td {
    border: 1px solid #fff;
    padding: 3px;
    text-align: center;
}

.bordanoticias {
    font-size: 14px;
    line-height: 24px;
    border-collapse: collapse;
}

.bordanoticias tr td {
    border-bottom: 1px solid #ccc;
    padding: 4px;
}

    
    .tloterias {
        height: auto;
        width: 100%;
        color: white;
        padding: 5px 10px;
    }
    
    .tmegasena {
        background: rgb(20, 167, 51);
        border-bottom: 2px solid #73b17d;
        border-radius: 10px 0 10px 0;
    }

    .fmegasena {
        color: rgb(20, 167, 51);
        border-bottom: 2px solid #73b17d;
        border-radius: 10px 0 10px 0;
    }
    
    .tlotofacil {
        background: rgb(133, 20, 167);
        border-bottom: 2px solid #9777a1;
        border-radius: 10px 0 10px 0;
    }
    .flotofacil {
        color: rgb(133, 20, 167);
        border-bottom: 2px solid #9777a1;
        border-radius: 10px 0 10px 0;
    }
    
    .tquina {
        background: rgb(54, 20, 167);
        border-bottom: 2px solid #7b77a1;
        border-radius: 10px 0 10px 0;
    }

    .fquina {
        color: rgb(54, 20, 167);
        border-bottom: 2px solid #7b77a1;
        border-radius: 10px 0 10px 0;
    }
    
    .tlotomania {
        background: rgb(190, 107, 12);
        border-bottom: 2px solid #a18a77;
        border-radius: 10px 0 10px 0;
    }

    .flotomania {
        color: rgb(190, 107, 12);
        border-bottom: 2px solid #a18a77;
        border-radius: 10px 0 10px 0;
    }
    
    .ttimemania {
        background: rgb(167, 165, 20);
        border-bottom: 2px solid #9da177;
        border-radius: 10px 0 10px 0;
    }

    .ftimemania {
        color: rgb(167, 165, 20);
        border-bottom: 2px solid #9da177;
        border-radius: 10px 0 10px 0;
    }
    
    .tduplasena {
        background: rgb(167, 49, 20);
        border-bottom: 2px solid #a17777;
        border-radius: 10px 0 10px 0;
    }
    
    .fduplasena {
        color: rgb(167, 49, 20);
        border-bottom: 2px solid #a17777;
        border-radius: 10px 0 10px 0;
    }

    .tdiadesorte {
        background: rgb(145, 125, 17);
        border-bottom: 2px solid #9ea177;
        border-radius: 10px 0 10px 0;
    }

    .fdiadesorte {
        color: rgb(145, 125, 17);
        border-bottom: 2px solid #9ea177;
        border-radius: 10px 0 10px 0;
    }
    
    .tsupersete {
        background: rgb(152, 167, 20);
        border-bottom: 2px solid #94a177;
        border-radius: 10px 0 10px 0;
    }

    .fsupersete {
        color: rgb(152, 167, 20);
        border-bottom: 2px solid #94a177;
        border-radius: 10px 0 10px 0;
    }
    
    .tfederal {
        background: rgb(16, 42, 128);
        border-bottom: 2px solid #777da1;
        border-radius: 10px 0 10px 0;
    }

    .ffederal {
        color: rgb(16, 42, 128);
        border-bottom: 2px solid #777da1;
        border-radius: 10px 0 10px 0;
    }
    
    .main-left {
        position: relative;
        width: 22%;
        /*border: 1px solid blue;*/
        float: left;
        height: auto;
        background-color: #eee;
        padding: 5px;
        border-radius: 5px;
    }

    .left {
        position: relative;
        width: 20%;
        /*border: 1px solid blue;*/
        float: left;
        height: auto;
        background-color: #eee;
        padding: 5px;
        border-radius: 5px;
    }
    
    .title_left {
        background-color: #A8CF45;
        padding: 5px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 5px;
    }
    
    .content_left {
        padding: 2px 5px;
    }
    
    .title_loteria_left {
        padding: 5px 0 0 5px;
        margin-top: 5px;
    }
    
    .title_loteria_left.tmegasena :hover,
    .content_loteria_left :hover {
        color: rgb(3, 85, 21) !important;
    }
    
    .title_loteria_left.tlotofacil :hover {
        color: rgb(67, 15, 110) !important;
    }
    
    .title_loteria_left.tquina :hover {
        color: rgb(29, 6, 83) !important;
    }
    
    .title_loteria_left.tlotomania :hover {
        color: rgb(112, 77, 0) !important;
    }
    
    .title_loteria_left.ttimemania :hover {
        color: rgb(128, 149, 4) !important;
    }
    
    .title_loteria_left.tduplasena :hover {
        color: rgb(121, 4, 4) !important;
    }
    
    .title_loteria_left.tdiadesorte :hover {
        color: rgb(93, 102, 7) !important;
    }
    
    .title_loteria_left.tsupersete :hover {
        color: rgb(51, 98, 13) !important;
    }
    
    .title_loteria_left.tfederal :hover {
        color: rgb(8, 11, 61) !important;
    }
    
    .title_loteria_left h5 {
        font-size: 16px;
        font-weight: 600;
        color: white;
    }
    
    .title_loteria_left img {
        padding-bottom: 5px;
    }
    
    .content_loteria_left {
        background-color: rgb(209, 226, 213);
        padding-left: 30px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: small;
    }
    .left_ads {
        height: 700px;
        width: 100%;
        
    }
    
    .left_ads img {
        padding-top: 10px;
        width: 100%;
    }
    
    .main-right {
        position: relative;
        width: 75%;
        margin: 5px;
        margin-top: 40px;
        float: right;
        height: 100%;
        padding: 5px;
    }

    .main-loterias{
        position: relative;
        float: left;
        padding: 20px 20px;
        margin: 10px;
    }
    
    .main-loterias h2{
        font-weight: 700;
    }
    .main-data-sorteio{
        position: relative;
        float: left;        
        margin: 10px;
        padding: 20px 20px;
    }
    .main-premios{
        position: relative;
        float: left;        
        margin: 10px;
        padding: 20px 20px;
    }
    .main-premios h2{
        font-weight: 700;
    }

    .right {
        position: relative;
        width: 80%;        
        float: right;
        height: 100%;
        padding: 5px;
    }
    /* #####--- PREMIAÇÃO ---##### */
    
    .right_middle {
        width: 80%;
        float: left;
        position: relative;
        /*border: 1px solid #aaa;*/
        border-top: 2px solid #868686;
        /*border-bottom: 2px solid #1f7a2e;*/
        margin-top: 10px;
        padding: 10px 0 20px 10px;
        height: auto;
        background-color: #eee;
    }
    
    .tbl_premiacao {
        background-color: rgb(158, 65, 65);
    }
    
    .acertos {
        position: relative;
        float: left;
        /*border: 1px solid #aaa !important;*/
    }
    
    .valorpremio {
        position: relative;
        float: left;
        /*border: 1px solid #aaa !important;*/
    }
    
    .ganhadores {
        position: relative;
        float: left;
        /*border: 1px solid #aaa !important;*/
    }
    
    .cidades {
        position: relative;
        float: left;
        /*border: 1px solid #aaa !important;*/
    }
    
    .title_acertos {
        font-weight: 600;
        border-bottom: 2px solid #777777;
    }
    
    .faixa_premiacao {
        font-weight: 500;
    }
    
    .faixa_premiacao li {
        border-bottom: 1px solid #777777;
        list-style-type: none;
    }
    
    .premiacao {
        font-weight: 500;
    }
    
    .premiacao li {
        border-bottom: 1px solid #777777;
        list-style-type: none;
    }
    
    .ganhadores {
        font-weight: 500;
    }
    
    .ganhadores li {
        border-bottom: 1px solid #777777;
        list-style-type: none;
    }
    
    .title_cidades {
        font-weight: 600;
        border-bottom: 2px solid #777777;
    }
    
    .cidades li {
        border-bottom: 1px solid #777777;
        list-style-type: none !important;
    }
    
    .right_lowmiddle_info {
        float: right;
        position: relative;
        font-weight: 500;
        /*border-bottom: 3px solid #1f7a2e;*/
        padding: 5px;
        width: 80%;
        text-align: center;
        color: #fff;
    }
    
    .middle_ads {
        margin-top: 50px;
        padding-left: 10px;
        height: 100px;
        width: 80%;
        float: right;
        height: auto;
    }
    
    .text_top {
        font-size: 13px;
        padding: 10px;
        text-align: justify;
    }

    .text-white{
        color: white;
        font-size: 26px !important;
    }
    .text-premio-estimado{
        color: white;
        font-size: 22px;
        opacity: 0.75;
    }
    
    .text-white-federal{
        color: white;
        font-size: 22px !important;
    }
    .text-grey-federal{
        color: ghostwhite;
        opacity: 0.5;
        font-size: 20px !important;
    }
    .text-white a{
        color: white;
    }
    .text-white a:hover{
        color: orange;
    }

    .text-grey{
        color: white;
        opacity: 0.5;
        font-size: 18px !important;
    }
    .text-hour{
        color: white;
        opacity: 0.5;
        font-size: 18px !important;
        font-style: italic;
    }
    
    .text_info_megasena {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_megasena h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(20, 167, 51);
        margin-top: 10px;
    }
    
    .text_info_lotofacil {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_lotofacil h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(133, 20, 167);
        margin-top: 10px;
    }
    
    .text_info_quina {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_quina h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(54, 20, 167);
        margin-top: 10px;
    }
    
    .text_info_lotomania {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_lotomania h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(190, 107, 12);
        margin-top: 10px;
    }
    
    .text_info_timemania {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_timemania h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(167, 165, 20);
        margin-top: 10px;
    }
    
    .text_info_duplasena {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_duplasena h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(167, 49, 20);
        margin-top: 10px;
    }
    
    .text_info_diadesorte {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_diadesorte h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(145, 125, 17);
        margin-top: 10px;
    }
    
    .text_info_supersete {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_supersete h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(152, 167, 20);
        margin-top: 10px;
    }
    
    .text_info_federal {
        font-size: 13px;
        width: 80%;
        float: right;
        padding: 30px;
        text-align: justify;
    }
    
    .text_info_federal h2 {
        font-size: 30px;
        font-weight: 600;
        color: rgb(16, 42, 128);
        margin-top: 10px;
    }
    /*------------------------*/
    
    .top_right_megasena {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(20, 167, 51);
        /*border: 1px solid grey;*/
    }
    
    .top_right_lotofacil {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(133, 20, 167);
        /*border: 1px solid grey;*/
    }
    
    .top_right_quina {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(54, 20, 167);
        /*border: 1px solid grey;*/
    }
    
    .top_right_lotomania {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(190, 107, 12);
        /*border: 1px solid grey;*/
    }
    
    .top_right_timemania {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(167, 165, 20);
        /*border: 1px solid grey;*/
    }
    
    .top_right_duplasena {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(167, 49, 20);
        /*border: 1px solid grey;*/
    }
    
    .top_right_diadesorte {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(145, 125, 17);
        /*border: 1px solid grey;*/
    }
    
    .top_right_supersete {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(152, 167, 20);
        /*border: 1px solid grey;*/
    }
    
    .top_right_federal {
        padding: 5px 15px 5px 10px;
        text-align: justify;
        font-size: small;
        background: rgb(16, 42, 128);
        /*border: 1px solid grey;*/
    }
    /* #####--- CARD NUMBERS ---##### */
    /*LOTOFÁCIL*/
    
    .right_llotofacil {
        float: left;
        width: 25%;
        margin-top: 10px;
    }
    
    .right_rlotofacil {
        float: right;
        width: 75%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_lotofacil {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 183px !important;
    }
    /*--------*/
    /*MEGASENA*/
    
    .right_lmegasena {
        float: left;
        width: 45%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rmegasena {
        float: right;
        width: 55%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_megasena {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    /*--------*/
    /*QUINA*/
    
    .right_lquina {
        float: left;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rquina {
        float: right;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_quina {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    /*--------*/
    /*LOTOMANIA*/
    
    .right_llotomania {
        float: left;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rlotomania {
        float: right;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_lotomania {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    /*--------*/
    /*TIMEMANIA*/
    
    .right_ltimemania {
        float: left;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rtimemania {
        float: right;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_timemania {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    
    .right_timecoracao {
        float: left;
        /*border: 1px solid #aaa;*/
        display: block;
        margin: 10px;
        padding: 15px;
        font-size: 20px;
        text-align: center;
    }
    /*--------*/
    /*DUPLASENA*/
    
    .right_lduplasena {
        float: left;
        width: 40%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rduplasena {
        float: right;
        width: 55%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_duplasena {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    /*--------*/
    /*DIA DE SORTE*/
    
    .right_ldiadesorte {
        float: left;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rdiadesorte {
        float: right;
        width: 50%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_diadesorte {
        margin: 10px!important;
        padding: 5px!important;
        height: 235px!important;
        width: 350px !important;
    }
    
    .right_diadesorte {
        float: left;
        /*border: 1px solid #aaa;*/
        display: block;
        margin: 10px;
        padding: 15px;
        font-size: 20px;
        text-align: center;
    }
    /*--------*/
    /*SUPER SETE*/
    
    .right_lsupersete {
        float: left;
        width: 42%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .right_rsupersete {
        float: right;
        width: 58%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .cardnumbers_supersete {
        margin: 4px!important;
        padding: 4px!important;
        height: auto!important;
        overflow: hidden;
        width: 45px !important;
        border: 1px solid #aaa;
        float: left;
    }
    
    .title_cs7 {
        background-color: #A8CF45;
        font-weight: 700;
        text-align: center;
        margin-bottom: 10px;
    }
    
    .title_ns7 {
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 1px solid #A8CF45;
    }
    /*--------*/
    /*FEDERAL*/
    
    .right_lfederal {
        float: left;
        width: 17%;
        margin-top: 20px;
        /*border: 1px solid #aaa;*/
        font-weight: 800;
    }
    
    .right_rfederal {
        float: right;
        width: 90%;
        margin-top: 10px;
        /*border: 1px solid #aaa;*/
    }
    
    .resultnumbers_federal {
        /*border: 1px solid #A8CF45;*/
        margin: 10px;
        width: 80%;
        float: left;
        position: relative;
    }
    /*--------*/
    
    .cardnumber {
        position: relative;
        border: 1px solid #aaa;
        width: 30px;
        float: left;
        text-align: center;
        margin: 2px;
    }
    
    .cardnumber_sel {
        position: relative;
        border: 1px solid #aaa;
        width: 30px;
        float: left;
        text-align: center;
        margin: 2px;        
    }

    .selms{
        background-color: rgb(20, 167, 51);
        color: white;
    }
    .sellf{
        background-color: rgb(133, 20, 167);
        color: white;
    }
    .selqui{
        background-color: rgb(54, 20, 167);
        color: white;
    }
    .selltm{
        background-color: rgb(190, 107, 12);
        color: white;
    }
    .seltmm{
        background-color: rgb(167, 165, 20);
        color: white;
    }
    .selds{
        background-color: rgb(167, 49, 20);
        color: white;
    }
    .seldds{
        background-color: rgb(145, 125, 17);
        color: white;
    }
    .selsps{
        background-color: rgb(152, 167, 20);
        color: white;
    }
    .selfd{
        background-color: rgb(16, 42, 128);
        color: white;
    }
    
    .resultnumbers {
        margin: 10px;
        float: left;
        position: relative;
        /*border: 1px solid green;*/
    }
    
    .resultnumber {
        float: left;
        position: relative;
        font-size: 40px;
        font-weight: 600;
        margin: 5px 2px;
        padding: 10px;
        box-shadow: 2px 1px 5px #000000;
        border-radius: 50px;
        min-width: 82px;
        text-align: center;
        color: #fff;
    }
    .resultnumberfed {
        float: left;
        position: relative;
        font-size: 40px;
        font-weight: 600;
        margin: 5px 2px;
        padding: 10px;
        box-shadow: 2px 1px 5px #000000;
        border-radius: 50px;
        min-width: 82px;
        text-align: center;
        color: #fff;
    }
    /* #####--- END CARD NUMBERS ---##### */
    

    /*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background: #036358;
  padding: 0 0 30px 0;
  color: #eee;
  font-size: 14px;
}

#footer .footer-top {
  background: #536358;
  padding: 60px 0 30px 0;
  margin-top: 25px;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 10px;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  border-left: 4px solid #FB6400;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #eee;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #eee;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #FB6400;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::before,
#footer .footer-top h4::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
}

#footer .footer-top h4::before {
  right: 0;
  background: #555;
}

#footer .footer-top h4::after {
  background: #FB6400;
  width: 60px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 8px;
  color: #ddd;
}

#footer .footer-top .footer-links ul li {
  border-bottom: 1px solid #333;
  padding: 5px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 10px;
}

#footer .footer-top .footer-links ul a {
  color: #eee;
}

#footer .footer-top .footer-links ul a:hover {
  color: #FB6400;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #FB6400;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #13a456;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #ddd;
}
    
    .icone {
        width: 20px;
        text-align: center;
    }
    
    .megasena a:hover {
        background-color: #00A600;
    }
    
    .lotofacil a:hover {
        background-color: #981AA0;
    }
    
    .quina a:hover {
        background-color: #341FA0;
    }
    
    .lotomania a:hover {
        background-color: #F4710C;
    }
    
    .timemania a:hover {
        background-color: #D0B220;
    }
    
    .duplasena a:hover {
        background-color: #A61029;
    }
    
    .diadesorte a:hover {
        background-color: #AFA32C;
    }
    
    .supersete a:hover {
        background-color: #A8CF45;
    }
    
    .federal a:hover {
        background-color: #012F60;
    }
    
    @media screen and (max-width: 1360px) and (min-width: 1150px) {
        .icone {
            display: none;
        }
        header li a {
            padding: 0 10px;
        }
    }
    
    @media screen and (max-width: 1150px) {
        .icone {
            display: all;
            width: 60px;
        }
    }
    
    @media screen and (max-width: 1450px) {
        header li a {
            padding: 0 5px;
        }
    }
    
    @media screen and (max-width: 1150px) {
        header nav {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 250px;
            border-left: 1px solid #ccc;
            background: #fff;
            overflow-x: auto;
            z-index: 9999;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
        }
        .containermain {
            height: auto;
            margin-top: 10px;
            padding: 10px 0;
            width: 100%;
            /*border: 3px solid red;*/
            position: relative;
            color: black;
            z-index: 0;
        }
        .main div {
            /*display: none;*/
            width: 100%;
            height: auto;
            margin-left: 0;
            margin-right: 0;
        }

        .text-premio-estimado{
            color: white;
            font-size: 16px !important;
            opacity: 0.75;
        }
        .left {
            display: none;
        }
        .right {
            width: 100%;
        }
        .text_top{
            display: none !important;
        }
        header ul.list-auto {
            padding: 0;
        }
        header ul.list-auto li {
            width: 100%;
            border: solid #ccc;
            border-width: 0 0 1px;
            background-color: #036358;
            z-index: 0;
        }
        header li a {
            padding: 15px 10px;
            color: #fff;
        }
        header li a:hover {
            color: #fff;
        }
        header li:last-child {
            padding-right: 0;
        }
        .control-nav {
            /* label icon */
            position: absolute;
            right: 20px;
            top: 20px;
            display: block;
            width: 30px;
            padding: 5px 0;
            border: solid #ccc;
            border-width: 2px 0;
            z-index: 2;
            cursor: pointer;
        }
        .control-nav:before {
            content: "";
            display: block;
            height: 3px;
            background: #333;
        }
        .control-nav-close {
            position: fixed;
            /* label layer */
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            display: block;
            z-index: 1;
            background: rgba(0, 0, 0, 0.4);
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
        }
        .left_ads img {
            display: none;
        }
        /* checked nav */
        input#control-nav {
            display: block;
        }
        input#control-nav:focus~.control-nav {
            border-color: #000;
            box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.3);
        }
        input#control-nav:focus~.control-nav:before {
            background: #000;
        }
        input#control-nav:checked~nav,
        input#control-nav:checked~.control-nav-close {
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        header+section {
            padding-top: 80px;
        }
        /* #####--- CARD NUMBERS ---##### */
        /*LOTOFÁCIL*/
        .right_llotofacil {
            float: left !important;
            width: 25% !important;
        }
        .right_rlotofacil {
            float: right !important;
            width: 75% !important;
        }
        .cardnumbers_lotofacil {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 183px !important;
        }
        /*-------*/
        /*MEGASENA*/
        .right_lmegasena {
            float: left !important;
            width: 65% !important;
        }
        .right_rmegasena {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_megasena {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }
        /*-------*/
        /*QUINA*/
        .right_lquina {
            float: left !important;
            width: 65% !important;
        }
        .right_rquina {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_quina {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }
        /*-------*/
        /*LOTOMANIA*/
        .right_llotomania {
            float: left !important;
            width: 65% !important;
        }
        .right_rlotomania {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_lotomania {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }
        /*-------*/
        /*TIMEMANIA*/
        .right_ltimemania {
            float: left !important;
            width: 65% !important;
        }
        .right_rtimemania {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_timemania {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }
        /*-------*/
        /*DUPLASENA*/
        .right_lduplasena {
            float: left !important;
            width: 65% !important;
        }
        .right_rduplasena {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_duplasena {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }

        /*-------*/
        /*DIA DE SORTE*/
        .right_ldiadesorte {
            float: left !important;
            width: 65% !important;
        }
        .right_rdiadesorte {
            float: right !important;
            width: 35% !important;
        }
        .cardnumbers_diadesorte {
            margin: 10px!important;
            padding: 5px!important;
            height: 235px!important;
            width: 350px !important;
        }
        /*-------*/
        .cardnumber {
            width: 30px !important;
            float: left !important;
            text-align: center;
            margin: 2px!important;
        }
        .cardnumber_sel {
            width: 30px !important;
            float: left !important;
            text-align: center;
            margin: 2px!important;
        }
        .resultnumbers {
            float: left !important;
            position: relative !important;
        }
        .resultnumber {
            float: left !important;
            position: relative !important;
            font-size: 25px !important;
            font-weight: 600 !important;
            margin: 3px !important;
            padding: 7px !important;
            box-shadow: 2px 1px 5px #580c5d !important;
            border-radius: 50px !important;
            min-width: 50px !important;
            max-width: 50px !important;
            text-align: center !important;
        }
        .resultnumberfed {
            float: left !important;
            position: relative !important;
            font-size: 25px !important;
            font-weight: 600 !important;
            margin: 3px !important;
            padding: 7px !important;
            box-shadow: 2px 1px 5px #580c5d !important;
            border-radius: 50px !important;
            min-width: 50px !important;
            text-align: center !important;
        }
        /* #####--- END CARD NUMBERS ---##### */
        .containerfooter {
            display: none;
        }
        .footer {
            display: none;
        }
    }
    
    @media screen and (max-width: 740px) {
        header h1 {
            font-size: 20px;
            line-height: 40px;
        }
        h1.float-l img {
            width: 280px;
            padding-top: 10px;
        }
        header nav {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            width: 250px;
            border-left: 1px solid #ccc;
            background: #fff;
            overflow-x: auto;
            z-index: 2;
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            -webkit-transform: translate(100%, 0);
            -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
        }
        .containermain {
            margin-top: 5px;
            padding: 0;
        }
        .main {
            width: 100%;
            margin: 0;
        }
        .text-premio-estimado em{
            color: white;
            font-size: 16px !important;
            opacity: 0.75;
        }
        .text_top{
            display: none;
        }
        /* #####--- CARD NUMBERS ---##### */
        /*LOTOFÁCIL*/
        .right_llotofacil {
            float: left !important;
            width: 50% !important;
            /*border: 1px solid #aaa;*/
        }
        .right_rlotofacil {
            float: center !important;
            width: 50% !important;
            /*border: 1px solid #aaa;*/
        }
        .cardnumbers_lotofacil {
            margin: 2px !important;
            padding: 4px !important;
            height: 235px !important;
            width: 183px !important;
        }
        /*-------*/
        /*MEGASENA*/
        .right_lmegasena {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rmegasena {
            float: none !important;
            width: 85% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_megasena {
            margin: 1px !important;
            padding: 2px !important;
            height: 300px !important;
            width: 310px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*QUINA*/
        .right_lquina {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rquina {
            float: none !important;
            width: 80% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_quina {
            margin: 1px !important;
            padding: 2px !important;
            height: 300px !important;
            width: 310px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*LOTOMANIA*/
        .right_llotomania {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rlotomania {
            float: none !important;
            width: 80% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_lotomania {
            margin: 1px !important;
            padding: 2px !important;
            height: 300px !important;
            width: 310px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*TIMEMANIA*/
        .right_ltimemania {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rtimemania {
            float: none !important;
            width: 80% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_timemania {
            margin: 1px !important;
            padding: 2px !important;
            height: 300px !important;
            width: 310px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*DUPLASENA*/
        .right_lduplasena {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rduplasena {
            float: none !important;
            width: 85% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_duplasena {
            margin: 1px !important;
            padding: 2px !important;
            height: 300px !important;
            width: 310px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*DIA DE SORTE*/
        .right_ldiadesorte {
            float: none !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rdiadesorte {
            float: none !important;
            width: 80% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            margin: 0 auto !important;
        }
        .cardnumbers_diadesorte {
            margin: 1px !important;
            padding: 2px !important;
            height: 200px !important;
            width: 320px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*SUPER SETE*/
        .right_lsupersete {
            float: left;
            width: 42%;
            margin-top: 10px;
            /*border: 1px solid #aaa;*/
        }
        .right_rsupersete {
            float: right;
            width: 58%;
            margin-top: 10px;
            /*border: 1px solid #eee !important;*/
        }
        .cardnumbers_supersete {
            margin: 5px!important;
            padding: 4px!important;
            height: auto!important;
            overflow: hidden;
            width: 40px !important;
            border: 1px solid #ddd;
            float: left;
        }
        /*--------*/
        .cardnumber {
            width: 28px !important;
            height: 30px !important;
            float: left !important;
            text-align: center;
            margin: 0 1px 23px 1px !important;
            padding: 2px 0 0 0;
        }
        .cardnumber_sel {
            width: 28px !important;
            height: 30px !important;
            float: left !important;
            text-align: center;
            margin: 0 1px 23px 1px !important;
            padding: 2px 0 0 0;
        }
        .resultnumbers {
            float: left !important;
            margin-left: 5px !important;
            margin-top: 0 !important;
            margin: 0 auto !important;
            /*border: 1px solid #ccc;*/
        }
        .resultnumber {
            float: left !important;
            font-size: 20px !important;
            font-weight: 600 !important;
            margin: 1px !important;
            padding: 7px !important;
            box-shadow: 2px 1px 5px #580c5d !important;
            border-radius: 50px !important;
            min-width: 46px !important;
            max-width: 46px !important;
            text-align: center !important;
        }
        /* #####--- PREMIAÇÃO ---##### */
        .right_middle {
            width: 100% !important;
            float: left;
            position: relative;
            /*border: 1px solid #aaa;*/
            border-top: 2px solid #1f7a2e;
            border-bottom: 2px solid #1f7a2e;
            margin-top: 10px;
            padding: 10px 0 20px 10px;
            height: auto;
            font-size: 12px;
        }
        .acertos {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .valorpremio {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .ganhadores {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .cidades {
            display: none!important;
        }
        .title_acertos {
            font-weight: 600;
            border-bottom: 2px solid #1f7a2e;
        }
        .faixa_premiacao {
            font-weight: 500;
        }
        .faixa_premiacao li {
            border-bottom: 1px solid #A8CF45;
            list-style-type: none;
        }
        /*------------------------*/
    }
    
    @media screen and (max-width: 640px) {
        .cidades {
            display: none;
        }
    }
    
    @media screen and (max-width: 320px) {
        /* #####--- CARD NUMBERS ---##### */
        /*LOTOFÁCIL*/
        .right_llotofacil {
            float: left !important;
            width: 43% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .right_rlotofacil {
            float: center !important;
            width: 57% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_lotofacil {
            margin: 1px !important;
            padding: 2px !important;
            height: 235px !important;
            width: 183px !important;
        }
        /*------*/
        /*MEGASENA*/
        .right_lmegasena {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rmegasena {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_megasena {
            margin: 1px !important;
            padding: 4px !important;
            height: 280px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*QUINA*/
        .right_lquina {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rquina {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_quina {
            margin: 1px !important;
            padding: 4px !important;
            height: 280px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*LOTOMANIA*/
        .right_llotomania {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rlotomania {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_lotomania {
            margin: 1px !important;
            padding: 4px !important;
            height: 280px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*TIMEMANIA*/
        .right_ltimemania {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rtimemania {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_timemania {
            margin: 1px !important;
            padding: 4px !important;
            height: 280px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*DUPLASENA*/
        .right_lduplasena {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rduplasena {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_duplasena {
            margin: 1px !important;
            padding: 4px !important;
            height: 280px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*DIA DE SORTE*/
        .right_ldiadesorte {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
            position: relative;
        }
        .right_rdiadesorte {
            float: right !important;
            width: 100% !important;
            /*border: 1px solid #aaa;*/
            border: none;
        }
        .cardnumbers_diadesorte {
            margin: 1px !important;
            padding: 4px !important;
            height: 200px !important;
            width: 260px !important;
            /*border: 1px solid #ccc;*/
            margin: 0 auto !important;
        }
        /*---------*/
        /*SUPER SETE*/
        .right_lsupersete {
            float: left;
            width: 42%;
            margin-top: 10px;
            /*border: 1px solid #aaa;*/
        }
        .right_rsupersete {
            float: right;
            width: 58%;
            margin-top: 10px;
            /*border: 1px solid #eee !important;*/
        }
        .cardnumbers_supersete {
            margin: 4px!important;
            padding: 4px!important;
            height: auto!important;
            overflow: hidden;
            width: 36px !important;
            border: 1px solid #ddd;
            float: left;
        }
        /*--------*/
        .cardnumber {
            width: 20px !important;
            float: left !important;
            text-align: center;
            margin: 2px !important;
            font-size: 12px !important;
        }
        .cardnumber_sel {
            width: 20px !important;
            height: 30px !important;
            float: left !important;
            text-align: center;
            margin: 2px 1px 15px 1px !important;
            padding: 2px 0 0 0;
        }
        .resultnumbers {
            position: relative !important;
            margin-left: 2px !important;
            margin-right: 0 !important;
            padding-right: 0 !important;
            margin-top: 0;
        }
        .resultnumber {
            float: left !important;
            position: relative !important;
            font-size: 18px !important;
            font-weight: 600 !important;
            margin: 2px !important;
            padding: 5px !important;
            box-shadow: 2px 1px 5px #580c5d !important;
            border-radius: 50px !important;
            min-width: 40px !important;
            max-width: 40px !important;
            text-align: center !important;
        }
        /* #####--- PREMIAÇÃO ---##### */
        .right_middle {
            width: 100% !important;
            float: left;
            position: relative;
            /*border: 1px solid #aaa;*/
            border-top: 2px solid #1f7a2e;
            border-bottom: 2px solid #1f7a2e;
            margin-top: 10px;
            padding: 10px 0 20px 10px;
            height: auto;
            font-size: 12px;
        }
        .acertos {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .valorpremio {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .ganhadores {
            position: relative;
            float: left;
            /*border: 1px solid #aaa !important;*/
        }
        .cidades {
            display: none!important;
        }
        .title_acertos {
            font-weight: 600;
            border-bottom: 2px solid #1f7a2e;
        }
        .faixa_premiacao {
            font-weight: 500;
        }
        .faixa_premiacao li {
            border-bottom: 1px solid #A8CF45;
            list-style-type: none;
        }
        /*------------------------*/
    }
    
    @media screen and (max-width: 280px) {
        /* #####--- CARD NUMBERS ---##### */
        /*SUPER SETE*/
        .right_lsupersete {
            float: left;
            width: 42%;
            margin-top: 10px;
            /*border: 1px solid #aaa;*/
        }
        .right_rsupersete {
            float: right;
            width: 58%;
            margin-top: 10px;
            /*border: 1px solid #eee !important;*/
        }
        .cardnumbers_supersete {
            margin: 2px!important;
            padding: 4px!important;
            height: auto!important;
            overflow: hidden;
            width: 34px !important;
            border: 1px solid #ddd;
            float: left;
        }
        /*--------*/
        .resultnumber {
            float: left !important;
            position: relative !important;
            font-size: 16px !important;
            font-weight: 600 !important;
            margin: 2px !important;
            padding: 4px !important;
            box-shadow: 2px 1px 5px #580c5d !important;
            border-radius: 50px !important;
            min-width: 33px !important;
            max-width: 33px !important;
            text-align: center !important;
        }
        .cidades {
            display: none!important;
        }
    }